{% comment %} <!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'game_home.css'%}">
    <title>game_home</title>
    </style>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
    //$(function () {
        //$('img').click(function () {
            //클릭될때
            //$( 'img' ).fadeOut();
            // $('img').attr('src', $(this).attr('href'));
    //img의 src 속성값을 this(해당태그(img)의 href 값으로 바꿔라 
            //return false; // 페이지 전환 막기

        //});
    //});

    function changeMap(){
        if (img.style.visibility == "visible")
            img.style.visibility = "hidden";
        else
            img.style.visibility = "visible";

    }
    </script>
</head>



<body>
    <div class='container'>
        <div id='table'>
            <table id='table' border = "0">
                <tr>
                    <td height = "0">
                        {% if user_data.bingo1 %}
                            <div style = "height:100%"><img id='1' src = "../media/{{user_data.bingo1}}"  height = "100%" ></div>
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="image1" value="{{user_data.bingo1}}">
                            </form>
                        {% elif user_data.bingo1 == 0 %}
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class='input'>
                            <input type="file" name="image1"><button type="submit">okay</button>
                            </div>
                            <input type="hidden" value="{{user_data.user_name}}" name="onloggin" />
                            </form>
                            <div style = "height:100%"><img id='1' src = "../static/image/심심해.png" height = "100%" ></div>
                        {% else %}
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class='input'>
                            <input type="file" name="image1"><button type="submit">okay</button>
                            </div>
                            <input type="hidden" value="{{user_data.user_name}}" name="onloggin" />
                            </form>
                            <div style = "height:100%"><img id='1' src = "../static/image/심심해.png" height = "100%" ></div>
                        {%endif %}
                    </td>
                    <td>
                        {% if user_data.bingo2 %}
                            <div style = "height:100%"><img id='1' src = "../media/{{user_data.bingo2}}"  height = "100%" ></div>
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="image2" value="{{user_data.bingo2}}">
                            </form>
                        {% elif user_data.bingo2 == 0 %}
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="file" name="image2"><button type="submit">확인</button>
                            <input type="hidden" value="{{user_data.user_name}}" name="onloggin" />
                            </form>
                            <div style = "height:100%"><img id='1' src = "../static/image/심심해.png" height = "100%" ></div>
                        {% else %}
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class='input'>
                            <input type="file" name="image2"><button type="submit">okay</button>
                            </div>
                            <input type="hidden" value="{{user_data.user_name}}" name="onloggin" />
                            </form>
                            <div style = "height:100%"><img id='1' src = "../static/image/심심해.png" height = "100%" ></div>
                    
                        {%endif %}
                    </td>
                    <td>
                        {% if user_data.bingo3 %}
                            <div style = "height:100%"><img id='1' src = "../media/{{user_data.bingo3}}"  height = "100%" ></div>
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="image3" value="{{user_data.bingo3}}">                            
                        {% elif user_data.bingo3 == 0 %}
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="file" name="image3"><button type="submit">확인</button>
                            <input type="hidden" value="{{user_data.user_name}}" name="onloggin" />
                            </form>
                            <div style = "height:100%"><img id='1' src = "../static/image/심심해.png" height = "100%" ></div>
                        {% else %}
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class='input'>
                            <input type="file" name="image3"><button type="submit">okay</button>
                            </div>
                            <input type="hidden" value="{{user_data.user_name}}" name="onloggin" />
                            </form>
                            <div style = "height:100%"><img id='1' src = "../static/image/심심해.png" height = "100%" ></div>
                        {%endif %}
                    </td>
                </tr>
                <tr>
                    <td height = "0">
                        {% if user_data.bingo4 %}
                            <div style = "height:100%"><img id='1' src = "../media/{{user_data.bingo4}}"  height = "100%" ></div>
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="image4" value="{{user_data.bingo4}}">
                        {% elif user_data.bingo4 == 0 %}
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="file" name="image4"><button type="submit">확인</button>
                            <input type="hidden" value="{{user_data.user_name}}" name="onloggin" />
                            </form>
                            <div style = "height:100%"><img id='1' src = "../static/image/심심해.png" height = "100%" ></div>
                        {% else %}
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class='input'>
                            <input type="file" name="image4"><button type="submit">okay</button>
                            </div>
                            <input type="hidden" value="{{user_data.user_name}}" name="onloggin" />
                            </form>
                            <div style = "height:100%"><img id='1' src = "../static/image/심심해.png" height = "100%" ></div>                            
                        {%endif %}
                    </td>
                    <td>
                        {% if user_data.bingo5 %}
                            <div style = "height:100%"><img id='1' src = "../media/{{user_data.bingo5}}"  height = "100%" ></div>
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="image5" value="{{user_data.bingo5}}">
                        {% elif user_data.bingo5 == 0 %}
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="file" name="image5"><button type="submit">확인</button>
                            <input type="hidden" value="{{user_data.user_name}}" name="onloggin" />
                            </form>
                            <div style = "height:100%"><img id='1' src = "../static/image/심심해.png" height = "100%" ></div>
                        {% else %}
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class='input'>
                            <input type="file" name="image5"><button type="submit">okay</button>
                            </div>
                            <input type="hidden" value="{{user_data.user_name}}" name="onloggin" />
                            </form>
                            <div style = "height:100%"><img id='1' src = "../static/image/심심해.png" height = "100%" ></div>
                        {%endif %}
                    </td>
                    <td>
                        {% if user_data.bingo6 %}
                            <div style = "height:100%"><img id='1' src = "../media/{{user_data.bingo6}}"  height = "100%" ></div>
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="image6" value="{{user_data.bingo6}}">
                        {% elif user_data.bingo6 == 0 %}
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="file" name="image6"><button type="submit">확인</button>
                            <input type="hidden" value="{{user_data.user_name}}" name="onloggin" />
                            </form>
                            <div style = "height:100%"><img id='1' src = "../static/image/심심해.png" height = "100%" ></div>
                        {% else %}
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class='input'>
                            <input type="file" name="image6"><button type="submit">okay</button>
                            </div>
                            <input type="hidden" value="{{user_data.user_name}}" name="onloggin" />
                            </form>
                            <div style = "height:100%"><img id='1' src = "../static/image/심심해.png" height = "100%" ></div>
                        {%endif %}
                    </td>
                </tr>
                <tr>
                    <td height = "0">
                        {% if user_data.bingo7 %}
                            <div style = "height:100%"><img id='1' src = "../media/{{user_data.bingo7}}"  height = "100%" ></div>
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="image7" value="{{user_data.bingo7}}">
                        {% elif user_data.bingo7 == 0 %}
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="file" name="image7"><button type="submit">확인</button>
                            <input type="hidden" value="{{user_data.user_name}}" name="onloggin" />
                            </form>
                            <div style = "height:100%"><img id='1' src = "../static/image/심심해.png" height = "100%" ></div>
                        {% else %}
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class='input'>
                            <input type="file" name="image7"><button type="submit">okay</button>
                            </div>
                            <input type="hidden" value="{{user_data.user_name}}" name="onloggin" />
                            </form>
                            <div style = "height:100%"><img id='1' src = "../static/image/심심해.png" height = "100%" ></div>
                        {%endif %}
                    </td>
                    <td>
                        {% if user_data.bingo8 %}
                            <div style = "height:100%"><img id='1' src = "../media/{{user_data.bingo8}}"  height = "100%" ></div>
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="image8" value="{{user_data.bingo8}}">
                        {% elif user_data.bingo8 == 0 %}
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="file" name="image8"><button type="submit">확인</button>
                            <input type="hidden" value="{{user_data.user_name}}" name="onloggin" />
                            </form>
                            <div style = "height:100%"><img id='1' src = "../static/image/심심해.png" height = "100%" ></div>
                        {% else %}
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class='input'>
                            <input type="file" name="image8"><button type="submit">okay</button>
                            </div>
                            <input type="hidden" value="{{user_data.user_name}}" name="onloggin" />
                            </form>
                            <div style = "height:100%"><img id='1' src = "../static/image/심심해.png" height = "100%" ></div>
                        {%endif %}
                    </td>
                    <td>
                        {% if user_data.bingo9 %}
                            <div style = "height:100%"><img id='1' src = "../media/{{user_data.bingo9}}"  height = "100%" ></div>
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="image9" value="{{user_data.bingo9}}">
                        {% elif user_data.bingo9 == 0 %}
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="file" name="image9"><button type="submit">확인</button>
                            <input type="hidden" value="{{user_data.user_name}}" name="onloggin" />
                            </form>
                            <div style = "height:100%"><img id='1' src = "../static/image/심심해.png" height = "100%" ></div>
                        {% else %}
                            <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class='input'>
                            <input type="file" name="image9"><button type="submit">okay</button>
                            </div>
                            <input type="hidden" value="{{user_data.user_name}}" name="onloggin" />
                            </form>
                            <div style = "height:100%"><img id='1' src = "../static/image/심심해.png" height = "100%" ></div>
                        {%endif %}
                    </td>
                </tr>
            </table>
        </div>
        <div id='section'>
            <h1 id="comment_main">당신의 피드를 꾸며보세용</h1>
            <p id='comment_explain'>
                1. 어쩌구<br>
                1. 어쩌구<br>
                1. 어쩌구<br>
                1. 어쩌구<br>
                1. 어쩌구<br>
                1. 어쩌구<br>
                1. 어쩌구<br>
                1. 어쩌구<br>
                1. 어쩌구<br></p>
            <div id='check'>
                <p id='check1'>당신의 등급은?</p>
                <a href="{% url 'game_result'%}">{% csrf_token %}<button id='check_btn'>확인하기</button></a>
            </div>
        </div>
    </div>    
</body>
</html {% endcomment %}

<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'game_home.css'%}">
    <title>game_home</title>
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    </style>
    {% comment %} <script src="http://code.jquery.com/jquery-latest.js"></script> {% endcomment %}
    {% comment %} <script>
    //$(function () {
        //$('img').click(function () {
            //클릭될때
            //$( 'img' ).fadeOut();
            // $('img').attr('src', $(this).attr('href'));
    //img의 src 속성값을 this(해당태그(img)의 href 값으로 바꿔라 
            //return false; // 페이지 전환 막기

        //});
    //});

    function changeMap(){
        if (img.style.visibility == "visible")
            img.style.visibility = "hidden";
        else
            img.style.visibility = "visible";

    }
    </script> {% endcomment %}
</head>
<body>

    <div class='container'>
        <div id='table' class='table'>
        <form action="{% url 'data_insert' %}" enctype="multipart/form-data" method="POST" class="table_form">
        {% csrf_token %}
            <div class="table1">
                <div>
                    {% if game_data.bingo1 %}
                    <div class="table_content"><img id='1' src = "../media/{{game_data.bingo1}}" height = 200px width = 200px ></div>
                    {% else %}
                    <input type="file" name="image1">
                    <div class="table_content"><img id='1' src = "../static/image/심심해.png" height = 200px width = 200px ></div>
                    {% endif %}
                </div>
                <div>

                    {% if game_data.bingo1 %}
                    <div class="table_content"><img id='1' src = "../media/{{game_data.bingo2}}" height = 200px width = 200px></div>
                    {% else %}
                    <input type="file" name="image2">
                    <div class="table_content"><img id='1' src = "../static/image/심심해.png" height = 200px width = 200px></div>
                    {% endif %}
                </div>
                <div>
                    {% if game_data.bingo1 %}
                    <div class="table_content"><img id='1' src = "../media/{{game_data.bingo3}}" height = 200px width = 200px ></div>
                    {% else %}
                    <input type="file" name="image3">
                    <div class="table_content"><img id='1' src = "../static/image/심심해.png" height = 200px width = 200px ></div>
                    {% endif %}
                </div>
                
            </div>
            <div class="table2">
                <div>
                    {% if game_data.bingo1 %}
                    <div class="table_content"><img id='1' src = "../media/{{game_data.bingo4}}" height = 200px width = 200px ></div>
                    {% else %}
                    <input type="file" name="image4">
                    <div class="table_content"><img id='1' src = "../static/image/심심해.png" height = 200px width = 200px ></div>
                    {% endif %}
                </div>
                <div>

                    {% if game_data.bingo1 %}
                    <div class="table_content"><img id='1' src = "../media/{{game_data.bingo5}}" height = 200px width = 200px ></div>
                    {% else %}
                    <input type="file" name="image5">
                    <div class="table_content"><img id='1' src = "../static/image/심심해.png" height = 200px width = 200px ></div>
                    {% endif %}
                </div>
                <div>

                    {% if game_data.bingo1 %}
                    <div class="table_content"><img id='1' src = "../media/{{game_data.bingo6}}" height = 200px width = 200px ></div>
                    {% else %}
                    <input type="file" name="image6">
                    <div class="table_content"><img id='1' src = "../static/image/심심해.png" height = 200px width = 200px ></div>
                    {% endif %}
                </div>
                
            </div>
            <div class="table3">
                <div>
                    {% if game_data.bingo1 %}
                    <div class="table_content"><img id='1' src = "../media/{{game_data.bingo7}}" height = 200px width = 200px ></div>
                    {% else %}
                    <input type="file" name="image7">
                    <div class="table_content"><img id='1' src = "../static/image/심심해.png" height = 200px width = 200px ></div>
                    {% endif %}
                </div>
                <div>
                    {% if game_data.bingo1 %}
                    <div class="table_content"><img id='1' src = "../media/{{game_data.bingo8}}" height = 200px width = 200px ></div>
                    {% else %}
                    <input type="file" name="image8">
                    <div class="table_content"><img id='1' src = "../static/image/심심해.png" height = 200px width = 200px ></div>
                    {% endif %}
                </div>
                <div>

                    {% if game_data.bingo1 %}
                    <div class="table_content"><img id='1' src = "../media/{{game_data.bingo9}}" height = 200px width = 200px ></div>
                    {% else %}
                    <input type="file" name="image9">
                    <div class="table_content"><img id='1' src = "../static/image/심심해.png" height = 200px width = 200px ></div>
                    {% endif %}
                </div>
                
            </div>
        </div>
        <button type="submit">제출</button>
        </form>

        <div id='section'>
            <h1 id="comment_main" style="font-family: 'Jua', sans-serif;">당신의 피드를 꾸며보세용</h1>
            <p id='comment_explain' style="font-family: 'Jua', sans-serif;">
                1. 내가 가고싶은 곳 사진올리기<br>
                2. 내가 건강하게 차려서 식사해보기<br>
                3. 안입는 옷 1가지 꼭 버리기<br>
                4. 영화보기(라라랜드,레옹,비긴어게인)<br>
                5. 프랑스어 재밌는 간단 회화 외우기<br>
                6. 1시간 낮잠자기<br>
                7. 안마셔본 술 마셔보기(인스타 공유)<br>
                8. 졸업앨범 다시보기<br>
                9. 삼불점 만들기(★★★★★)<br></p>
            <div id='check'>
                <a href="{%url 'game_result' %}"><p id='check1' style="font-family: 'Jua', sans-serif;">당신의 등급은?</p></a>
            </div>
        </div>
    </div>    
</body>
</html