/* 레이아웃 */
/* #header {background: url(../img/header_bg.jpg) repeat-x center top;} */

/* 컨테이너 */
/* .container {width: 100%; height: 50px; margin: 0 auto; background: rgba(0,0,0,0.3);} */

/* 헤더 */
.header {height: 150px;}
.header .header_menu {text-align: right; font-size:20px; padding-right:80px;}
.header .header_menu a {color: black; padding: 30px 0 6px 40px; display: inline-block; transition: color 0.3s ease; font-family: 'Abel', sans-serif;}
.header .header_menu a:hover {color: #ccc;}
#main{ font-size: 100px;}
#content{ text-align: center;}


/* media query*/
/* @media (max-width: 1220px){
    .container {width: 100%;}
    .row {padding: 0 15px;}
} */


section{
    margin-right : 5%;
    margin-left : 5%;
    text-align: center;

    height: 600px;
}
h1{
    font-family: 'Jua', sans-serif;
    text-align: center;
}
h3{
    font-family: 'Jua', sans-serif;
    text-align: center;
}

.team_info{
    width: 100%;
    height: 100%;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team_info_1{
    width: 100%;
    height: 50%;

    display:flex;
    justify-content: center;
    align-items: center;
}
.team_info_2{
    width: 100%;
    height: 50%;

    display:flex;
    justify-content: center;
    align-items: center;
}
.team_info_1_1{
    width: 50%;
    height: 100%;

    display:flex;
    justify-content: center;
    align-items: center;
}
.team_info_1_2{
    width: 50%;
    height: 100%;

    display:flex;
    justify-content: center;
    align-items: center;
}
.team_info_2_1{
    width: 50%;
    height: 100%;

    display:flex;
    justify-content: center;
    align-items: center;
}
.team_info_2_2{

    width: 50%;
    height: 100%;

    display:flex;
    justify-content: center;
    align-items: center;
}

.start {
    display:flex;
    justify-content: center;
    
}
.image_aaa{
    
    width: 100%;
    height: 100%;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.grade_image{
    width: 100%;
    height: 80%;

    display:flex;
    justify-content: space-around;
    /* align-items: center; */
    
}

.section1{
    width: 20%;
    height: 100%;
    display:flex;

}
.sss{
    font-family: 'Jua', sans-serif;
    text-align: start;
}